package d{{ printf "%02d" .Day }}

import (
	"log"
	"os"
)

func ExamplePartOne() {
	file, err := os.Open("testdata/input.txt")
	if err != nil {
		log.Fatalf("could not open input file: %v", err)
	}
	defer file.Close()

	if err := PartOne(file, os.Stdout); err != nil {
		log.Fatalf("could not solve: %v", err)
	}

	// When challenge is solve, you can change the `// Output: <expected output>` comment to the expected output.
	// This will ensure that no future changes to the solution will break the test.

	// Output: 
}

func ExamplePartTwo() {
	file, err := os.Open("testdata/input.txt")
	if err != nil {
		log.Fatalf("could not open input file: %v", err)
	}
	defer file.Close()

	if err := PartTwo(file, os.Stdout); err != nil {
		log.Fatalf("could not solve: %v", err)
	}

	// When challenge is solve, you can change the `// Output: <expected output>` comment to the expected output.
	// This will ensure that no future changes to the solution will break the test.

	// Output: 
}